{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="row">
    <div class="col-6 col-md-3 mb-3">
      <a href="{% url 'employees:employees_index' %}" class="menu-item d-flex justify-content-center align-items-center">
        <div>Employees</div>
      </a>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <a href="{% url 'orders:orders_index' %}" class="menu-item d-flex justify-content-center align-items-center">
        <div>Orders</div>
      </a>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <a href="{% url 'fleet:fleet_index' %}" class="menu-item d-flex justify-content-center align-items-center">
        <div>Fleet</div>
      </a>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <a href="" class="menu-item d-flex justify-content-center align-items-center">
        <div>Route Sheet</div>
      </a>
    </div>
  </div>
</div>

<style>
 
</style>
{% endblock %}
