{% extends 'base.html' %}
{% load static %}

{% block content %}
<a class="list-button btn btn-primary mx-auto d-block" href="{% url 'orders:create_order' %}">Create Order</a>
<div class="container-fluid d-flex justify-content-center">
<table class='table'>
    <thead>
        <tr>
            <th>Index</th>
            <th>Company</th>
            <th>Address</th>
            <th>Cargo_Info</th>
            <th>ETA</th>
            <th>Status</th>
            <th class="list-actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in orders_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.cargo_info }}</td>
            <td>{{ item.eta }}</td>
            {% if item.status %}
                <td>On-Going</td>
            {% else %}
                <td>Completed</td>
                {% endif %}
                <td>
                    <a class="btn btn-warning" href="{% url 'orders:modify' item.id %}">Edit</a>
                    {% if item.status %}
                        <a class="btn btn-secondary" href="{% url 'orders:deactivate' item.id %}">Complete</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'orders:activate' item.id %}">Uncomplete</a>
                    {% endif %} 
                    <a class="btn btn-danger" href="{% url 'orders:delete' item.id %}">Delete</a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<a class="list-button btn btn-success mx-auto d-block" href="{% url 'orders:orders_index' %}">Back to main</a>
{% endblock %}