{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<a class="btn btn-primary" href="{% url 'users:add_user' %}">Create User</a>
<table class='table'>
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in users_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.first_name }} {{ item.last_name }}</td>
            <td>{{ item.user_name }}</td>
            <td>{{ item.user_email }}</td>
            <td>*********</td>
            {% if item.active %}
                <td>Active</td>
            {% else %}
                <td>Inactive</td>
                {% endif %}
                <td>
                    <a class="btn btn-warning" href="{% url 'users:modify' item.id %}">Edit</a>
                    {% if item.active %}
                        <a class="btn btn-secondary" href="{% url 'users:deactivate' item.id %}">Deactivate</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'users:activate' item.id %}">Activate</a>
                    {% endif %} 
                    <a class="btn btn-danger" href="{% url 'users:delete' item.id %}">Delete</a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}